* {
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
    background-color:mediumvioletred;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > h2 {
    margin-top: 3px;
    margin-left: 15px;
}

.btn-login {
    padding: 2px 5px 2px 5px;
}

nav {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 90vh;

    float: left;
    background-color: #f2d0e0;
}

ul, li, a {
    margin: 10px;
    text-transform: uppercase;
    color: black;
}

.right-arrow {
    float: right;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-wrap: wrap;
}

.product-1,
.product-2,
.product-3,
.product-4,
.product-5,
.product-6,
.product-7 {
    text-align: center;
    margin: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-cake {
    padding: 6px;
}

.text-cake h2 {
    margin-bottom: 15px;
}

footer {
    padding: 12px;
    background-color: mediumvioletred;

    font-weight: bold;
    text-align: center;
}
